<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Gerando APP para Android</strong>
    <p>Meu primeiro projetinho ionic.<a target="_blank" rel="noopener noreferrer" href="https://github.com/wesleypds/projetinho-ionic-angular-capacitor"> Repo do projeto</a></p>
    <h1>Olá, World!</h1>
  </div>
</ion-content>
